.welcomeTextContainer {
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 15px;
    width:55%;
    background-color: rgba(35, 97, 168, 0.699);
}

.welcomeText {
    text-align: center;
    color: white;
    margin: 0px;
}

@media(max-width: 400px) {
    .welcomeTextContainer{
        width: 100%;
        margin-bottom: 0;
    }

    .welcomeText{
        font-size: 18px;
    }
}