.pageContainer p {
    margin: 0px;
}

@media(max-width: 400px) {
    .welcomeTextContainer{
        width: 100%;
        margin-bottom: 0;
    }

    .welcomeText{
        font-size: 18px;
    }

    .pageContainer {
        margin-bottom: 10px;
    }

    .pageContainer h3 {
        font-size: 18px;
    }
    
    .pageContainer p {
        font-size: 12px;
    }
}